/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5vh; /* Adjust this value as needed */
    background-color: #d4e9ee;
}

/* headin styles*/
h1 {
    text-align: center;
    font-size: 7.1vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 5vh;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 550;
    color: rgb(0, 0, 0);
}

h3 {
    margin-top: 1vh;
    margin-bottom: -1.1vh;
    font-size: 3.2vh;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 550;
    color: rgb(0, 0, 0);
}

/* Sidebar styles */
.sidebar {
    background-color: #333;
    color: white;
    width: 14vw; /* Adjust the width as needed */
    position: fixed;
    overflow-y: auto;
    border-radius: 1vh;
    border: 2px solid #000000;
    height: 48vh;
}

.menu {
    margin-top: 2vh;
}
.menu ul {
    list-style-type: none;
    padding: 2vh;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 2.2vh 0;
}

.social-media {
    margin-top: 4vh;
    padding: 3vh;
    text-align: center;
}

.social-media a {
    color: white;
    padding: 0 1vh;
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    font-size: 4vh; /* Adjust size as needed */
}

/* Main content styles */
main {
    flex: 1;
    margin-left: 15vw;
}

section {
    padding: 2.5vh;
}

#intro {
    background-color: #83a2aa;
    color: white;
    padding: 5.6vh 2vw;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
}

/* Style buttons */
#intro .btn {
    margin-top: 2vh;
    background-color: #83a2aa;
    border: none;
    color: black;
    padding: 1vh 2vw;
    cursor: pointer;
    font-size: 3.2vh;
}

/* list for about me section */
#about {
    margin-top: 2vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 52vh;
}

/* list for summary section */
#summary {
    margin-top: 2vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 22vh;
}

/* list for experience section */
#experience {
    margin-top: 2vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 38vh;
}

/* all ul lists */
#about ul,
#academic ul,
#culture ul,
#sport ul,
#programming_lang ul {
    margin-top: 1.5vh;
    list-style: none;
    padding: 1;
}

#about ul li,
#academic ul li,
#culture ul li,
#sport ul li,
#programming_lang ul li {
    background: #bdd9e0;
    margin-bottom: 1.5vh;
    padding: 1.6vh;
    border: 2px solid #65858d;
}

/* list for academic achievements*/
#academic {
    margin-top: 2vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 78vh;
}

/* list for Cutural achievements achievements*/
#culture {
    margin-top: 2vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 19vh;
}

/* list for Sport achievements achievements*/
#sport {
    margin-top: 2vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 35vh;
}

/* Section for Uni marks */
#marks {
    margin-top: 2vh;
    margin-bottom: 6vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 175vh;
}

/*Section for programming languages*/

#programming_lang {
    margin-top: 2vh;
    margin-bottom: 4vh;
    border-radius: 10px;
    border: 2px solid black;
    width: 80vw;
    height: 92vh;
}

/* Section for Tic tac Toe game */
#tictactoe {
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 77vh;
}
/* Section for impasse game */
#impasse {
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 80vh;
}
/* Section for moving maze game */
#moving_maze {
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 83vh;
}

/*Section for compression and decompression software*/
#cmpsoft {
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 79vh;
}

/*Section for website for wedding table allocation*/
#wedtable {
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 80vw;
    height: 63vh;
}

/*Section for instagram clone app*/
#insta_clone {
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid black;
    width: 80vw;
    height: 90vh;
}

/*style for table */
#marks table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 2vh 0;
    border-radius: 10px;
}

#marks table th,
table td {
    border: 2px solid #65858d;
    text-align: left;
    padding: 1vh;
}

#marks table th {
    color: #333;
}

#marks table tr:nth-child(even) {
    background-color: #bdd9e0;
}

/*Properties for pfp image*/

#pfpimage {
    float: right;
    position: relative;
    top: -19.8vh;
    width: 12vw;
    height: 33vh;
    border: 2px solid black;
}

#imp1 {
    position: relative;
    top: 2.3vh;
    right: -6vw;
    width: 27vw;
    height: 59vh;
    border: 2px solid black;
}

#imp2 {
    position: relative;
    top: 2.3vh;
    right: -11vw;
    width: 28vw;
    height: 59vh;
    border: 2px solid black;
}

#tictactoeimg {
    position: relative;
    top: 2.3vh;
    right: -24vw;
    width: 29vw;
    height: 60vh;
    border: 2px solid black;
}

#mvz {
    position: relative;
    top: 2.3vh;
    right: -24vw;
    width: 29vw;
    height: 60vh;
    border: 2px solid black;
}

#decsoftimg {
    position: relative;
    top: 2.3vh;
    right: -24vw;
    width: 29vw;
    height: 60vh;
    border: 2px solid black;
}

#wed1im {
    position: relative;
    top: 2.3vh;
    right: -6vw;
    width: 28vw;
    height: 42vh;
    border: 2px solid black;
}

#wed2im {
    position: relative;
    top: 2.3vh;
    right: -11vw;
    width: 28vw;
    height: 42vh;
    border: 2px solid black;
}

/*style for app scroll images*/
.image-scroll-container {
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1.2vw;
    scrollbar-width: thin;
    scrollbar-color: blue #65858d;
    width: 54vw;
}

.image-scroll-container img {
    flex: 0 0 auto;
    height: 65vh;
    width: 15.5vw;
}

/* Styles for customizing the scrollbar for Webkit browsers like Chrome, Safari */
.image-scroll-container::-webkit-scrollbar {
    height: 1.9vh;
}

.image-scroll-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #65858d; /* Color of the track */
}

.image-scroll-container::-webkit-scrollbar-thumb {
    background-color: blue; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        position: static; /* Resets the position for mobile devices */
        height: auto;
    }

    .menu,
    .social-media {
        text-align: center;
    }

    .menu ul {
        display: flex;
        justify-content: center;
    }

    .menu ul li {
        padding: 0 10px;
    }

    .intro-content,
    .intro-buttons {
        text-align: center;
    }

    .intro-buttons button {
        margin: 10px 0;
    }
}
