/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px; /* Adjust this value as needed */
}
.content {
    display: flex;
    flex: 1;
}


/* Sidebar styles */
.sidebar {
    background-color: #333;
    color: white;
    width: 200px; /* Adjust the width as needed */
    position: fixed;
    top: 50px; /* Start the sidebar 50px from the top */
    bottom: 50%; /* Sidebar height is 50% of the viewport height */
    overflow-y: auto;
}

.menu ul {
    list-style-type: none;
    padding: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.social-media {
    padding: 20px;
    text-align: center;
}

.social-media a {
    color: white;
    padding: 0 10px;
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    font-size: 24px; /* Adjust size as needed */
}

.social-media a i {
    color: white;
    font-size: 24px; /* FontAwesome icon size */
}

/* Main content styles */
main {
    flex: 1;
    margin-left: 200px; /* Same as the width of the sidebar */
}

section {
    padding: 20px;
}

#intro {
    background-color: #65858d; /* Darker orange background */
    color: white;
    padding: 40px 20px;
}

.intro-content {
    max-width: 800px;
    margin: auto;
}

.intro-buttons button {
    background-color: #e7e7e7; /* Light grey background */
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#about {
    background-color: #ffd9b3; /* Lighter orange background */
}

/* Add styles for additional sections as needed */

/* Responsive styles */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        position: static; /* Resets the position for mobile devices */
        height: auto;
    }

    .menu, .social-media {
        text-align: center;
    }

    .menu ul {
        display: flex;
        justify-content: center;
    }

    .menu ul li {
        padding: 0 10px;
    }

    .intro-content, .intro-buttons {
        text-align: center;
    }

    .intro-buttons button {
        margin: 10px 0;
    }
}
